#!/bin/bash
# This file is an example source file for testing Docker containers

export ROOT_NAME="deprovisioner"
export ENV_TYPE="dev"
export CLIENT_SECRETS=''
export OAUTH2SERVICE=''
export OAUTH2TXT=''
export PIPELINE_COUNTER="latest"
export REGISTRY=""
